[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polygon-api-client = "*"
pylint = "*"
pyyaml = "*"
redis = "*"
gspread = "*"
black = "*"
gnureadline = "*"

[dev-packages]

[requires]
python_version = "3.11.2"
